PUBLIC_RETELL_PUBLIC_KEY=key_xxxxxxxxxxxxxxxxxxxxx
PUBLIC_RETELL_CHAT_AGENT_ID=agent_xxxxxxxxxxxxxxxxxxx
PUBLIC_RETELL_CHAT_AGENT_VERSION=0
PUBLIC_RETELL_RECAPTCHA_KEY=

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
PUBLIC_SITE_URL=http://localhost:5173
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token
